body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
 a{
   
  }
  
  header {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 24px;
    color:red
  }
  
  nav {
    margin-bottom: 50px;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ff0000;
  }
  ul {
    list-style-position: inside;
  }
  .underline{
    text-decoration: underline;
  }
